@charset "UTF-8";

* {
  font-family: "Open Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  color: #565656;
}

section {
  padding: 150px 0;
}

.orange {
  color: #fc6744;
}

.container {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 17px;
}

.primary-btn {
  width: 235px;
  height: 55px;
  border: none;
  border-radius: 27px;
  color: #fff;
  text-transform: capitalize;
}

.section-title {
  width: 688px;
  max-width: 100%;
  text-align: center;
  margin-bottom: 110px;
}

.section-title__heading {
  font-size: 50px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.section-title__subtitle {
  color: #414141;
}

.container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.knowmore__btn {
  transition: box-shadow 0.4s;
  color: #000000;
}

.knowmore__btn:hover {
  box-shadow: 0px 6px 14px 0px rgba(20, 20, 21, 0.09);
}

.knowmore__btn .plus {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  transform: translate(-20px, 10px);
}

.knowmore__btn .plus:before,
.knowmore__btn .plus:after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #7f7f7f;
}

.knowmore__btn .plus:before {
  transform: rotate(90deg);
}

/* Слайдер */

/* Слайдер запущен */

/* Слайдер с точками */

/* Ограничивающая оболочка */

.slick-list {
  padding-top: 50px;
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: flex;
}

/* Слайд */

/* Слайд активный (показывается) */

/* Слайд основной */

/* Слайд по центру */

/* Клонированный слайд */

/* Стрелка */

/* Стрелка влево */

/* Стрелка вправо */

/* Стрелка не активная */

/* Точки (булиты) */

/* Активная точка */

/* Элемент точки */

.section-feedback__slider {
  position: relative;
}

.section-feedback__slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-feedback__slider .slick-dots li {
  list-style: none;
}

.section-feedback__slider .slick-dots li button {
  font-size: 0;
  width: 18px;
  height: 6px;
  border-radius: 2.5px;
  margin: 0 4px;
}

.section-feedback__slider .slick-dots li.slick-active button {
  background: #ff6e47;
}

.section-feedback__slider .slick-arrow {
  position: absolute;
  top: calc(50% + 8px);
  z-index: 10;
  font-size: 0;
  width: 11px;
  height: 16px;
}

.section-feedback__slider .slick-arrow.slick-prev {
  left: 0px;
  background: url("../img/chevron-left-solid.svg") 0 0 no-repeat;
}

.section-feedback__slider .slick-arrow.slick-next {
  right: 0px;
  background: url("../img/chevron-right-solid.svg") 0 0 no-repeat;
}

.header {
  background: #e9e9ea;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.header__logo {
  padding: 0 20px;
  color: #494949;
  font-weight: 600;
  font-size: 37px;
  border: 3px solid #706b73;
  border-radius: 1px;
}

.header__burger {
  width: 34px;
  height: 20px;
  position: relative;
}

.header__burger:before,
.header__burger:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background-color: #706b73;
}

.header__burger:before {
  top: 0;
}

.header__burger:after {
  bottom: 0;
}

.header__burger span {
  width: 100%;
  height: 3px;
  background-color: #706b73;
  position: absolute;
  top: 8px;
  border-radius: 1px;
}

.header__burger.active span {
  -webkit-animation: scale 0.9s forwards;
          animation: scale 0.9s forwards;
}

.header__burger.active::before {
  -webkit-animation: moveToCenterFromTop 0.8s forwards, rotateTop 0.6s 0.7s forwards;
          animation: moveToCenterFromTop 0.8s forwards, rotateTop 0.6s 0.7s forwards;
}

.header__burger.active::after {
  -webkit-animation: moveToCenterFromBottom 0.8s forwards, rotateBottom 0.6s 0.7s forwards;
          animation: moveToCenterFromBottom 0.8s forwards, rotateBottom 0.6s 0.7s forwards;
}

.section-top {
  background: #e9e9ea;
  padding: 0;
}

.section-top__maintext {
  display: flex;
  justify-content: center;
  margin-bottom: 115px;
}

.section-top__maintext-content {
  width: 704px;
  max-width: 100%;
  text-align: center;
}

.section-top__maintext-content-title {
  font-size: 42px;
  text-transform: capitalize;
  color: #6b6b6b;
  font-weight: 600;
  padding: 0 20px;
  margin: 147px 0 40px;
}

.section-top__maintext-content-text {
  line-height: 25px;
}

.section-top__form {
  width: 372px;
  max-width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px 39px 20px;
}

.section-top__form h3 {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 20px;
  margin-bottom: 46px;
}

.section-top__form input,
.section-top__form textarea {
  width: 100%;
  border-bottom: 1px solid #c7c7c7;
  padding: 10px 0;
}

.section-top__form input {
  margin-bottom: 26px;
}

.section-top__form input::-moz-placeholder {
  text-transform: capitalize;
  font-size: 15px;
}

.section-top__form input:-ms-input-placeholder {
  text-transform: capitalize;
  font-size: 15px;
}

.section-top__form input::-ms-input-placeholder {
  text-transform: capitalize;
  font-size: 15px;
}

.section-top__form input::placeholder {
  text-transform: capitalize;
  font-size: 15px;
}

.section-top__form textarea {
  resize: none;
  margin-bottom: 20px;
  height: 90px;
}

.section-top__form textarea::-moz-placeholder {
  text-transform: capitalize;
  font-size: 15px;
}

.section-top__form textarea:-ms-input-placeholder {
  text-transform: capitalize;
  font-size: 15px;
}

.section-top__form textarea::-ms-input-placeholder {
  text-transform: capitalize;
  font-size: 15px;
}

.section-top__form textarea::placeholder {
  text-transform: capitalize;
  font-size: 15px;
}

.section-top__form-btn {
  background-color: #ff5c36;
  border: 1px solid #ededed;
}

.section-top__form-btn span {
  position: relative;
  padding-right: 15px;
}

.section-top__form-btn span:after {
  content: "";
  position: absolute;
  right: -10px;
  top: 50%;
  width: 15px;
  height: 2px;
  background: #ffd6cd;
}

.section-top__form-btn .arrow {
  position: relative;
}

.section-top__form-btn .arrow:after,
.section-top__form-btn .arrow:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 2px;
  background-color: #ffd6cd;
}

.section-top__form-btn .arrow:after {
  right: 5px;
  top: 6px;
  transform: rotate(35deg);
}

.section-top__form-btn .arrow:before {
  right: 5px;
  bottom: 4px;
  transform: rotate(-35deg);
}

.section-workprocess__cards {
  display: flex;
  align-items: center;
  max-width: 100%;
}

.section-workprocess__cards .card {
  width: 262px;
  height: 263px;
  box-shadow: 0px 0px 35px 0px rgba(20, 20, 21, 0.21);
  padding: 54px 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.section-workprocess__cards .card-first {
  background: #4eb2f7;
}

.section-workprocess__cards .card-second {
  background: #c049f8;
}

.section-workprocess__cards .card-third {
  background: #817eff;
}

.section-workprocess__cards .card-fourth {
  background: #f74770;
}

.section-workprocess__cards .card:not(:last-child) {
  margin-right: 30px;
}

.section-workprocess__cards .card__icon {
  color: #fff;
  opacity: 0.8;
  margin-bottom: 25px;
}

.section-workprocess__cards .card__text {
  width: 167px;
  max-width: 100%;
  text-align: center;
  margin-bottom: 39px;
}

.section-workprocess__cards .card__text-title {
  text-transform: capitalize;
  padding-bottom: 25px;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  opacity: 0.9;
}

.section-workprocess__cards .card__text-desc {
  font-size: 15px;
  line-height: 22px;
  color: #fff;
  opacity: 0.75;
}

.section-workprocess__cards .card .primary-btn {
  background-color: #fff;
  color: #000;
  width: 228px;
  max-width: 100%;
}

.section-workprocess__cards .card .knowmore__btn {
  position: absolute;
  bottom: -27px;
}

.section-featuredworks {
  background: #fbfbfb;
}

.photos {
  display: grid;
  grid-gap: 29px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.photos .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-services__content {
  display: flex;
  max-width: 100%;
}

.section-services__content-categories .category {
  background-color: #fbfbfb;
  border: 1px solid #ebebeb;
  border-radius: 2px;
  margin-bottom: 6px;
  transition: box-shadow 0.3s;
}

.section-services__content-categories .category:hover {
  box-shadow: 0px 0px 36px 0px rgba(20, 20, 21, 0.2);
}

.section-services__content-categories .category-diagram {
  padding: 25px 13px 5px 28px;
}

.section-services__content-categories .category-gears {
  padding: 15px 0 0 18px;
  max-height: 94px;
}

.section-services__content-categories .category-search {
  padding: 30px 0 0 16px;
}

.section-services__content-description {
  width: 510px;
  max-width: 100%;
  margin: 0 127px;
}

.section-services__content-description .title {
  text-transform: capitalize;
  font-size: 30px;
  padding: 0 0 18px 1px;
  margin-bottom: 20px;
  position: relative;
}

.section-services__content-description .title:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 57px;
  height: 3px;
  background-color: #ff5c36;
}

.section-services__content-description p {
  line-height: 25px;
}

.section-services__content-description .first-paragr {
  margin-bottom: 35px;
}

.section-services__content-description .second-paragr {
  margin-bottom: 25px;
}

.section-services__content-description .third-paragr {
  margin-bottom: 40px;
}

.section-services__content-description .primary-btn {
  width: 240px;
  background-color: #fff;
  border: 1px solid #ebebeb;
}

.section-team {
  background-color: #fbfbfb;
}

.section-team__cards {
  display: flex;
  align-items: center;
  max-width: 100%;
}

.section-team__cards .card {
  width: 360px;
  max-width: 100%;
  height: 445px;
  max-height: 100%;
  border: 1px solid #d9d9d9;
  position: relative;
}

.section-team__cards .card:not(:last-child) {
  margin-right: 25px;
}

.section-team__cards .card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s;
}

.section-team__cards .card:hover:before {
  background-color: #fff3f0;
}

.section-team__cards .card:hover {
  border: 0;
  box-shadow: 0px 0px 49px 0px rgba(20, 20, 21, 0.11);
}

.section-team__cards .card:hover .about-teammate {
  bottom: 0;
  background-color: inherit;
  box-shadow: none;
}

.section-team__cards .card:hover .about-teammate__socials {
  display: block;
}

.section-team__cards .card:hover .characteristic {
  display: block;
}

.section-team__cards .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-team__cards .card .about-teammate {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 95px;
  width: 262px;
  background: #fff;
  box-shadow: 0px 6px 16px 0px rgba(20, 20, 21, 0.08);
  position: absolute;
  left: calc(50% - 131px);
  bottom: -24px;
  transition: bottom 0.3s;
}

.section-team__cards .card .about-teammate__name {
  font-size: 30px;
  font-weight: 600;
  color: #4c4c4c;
  margin: 14px 0 20px;
  text-transform: capitalize;
}

.section-team__cards .card .about-teammate__job {
  font-size: 15px;
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.section-team__cards .card .about-teammate__socials {
  display: none;
}

.section-team__cards .card .about-teammate__socials .social {
  margin: 0 15px 17px 0;
  display: inline-block;
}

.section-team__cards .card .about-teammate__socials .social a {
  color: #b7afad;
}

.section-team__cards .card .characteristic {
  display: none;
  width: 150px;
  max-width: 100%;
  text-align: center;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 75px);
}

.section-team__cards .card .characteristic-skill {
  margin-bottom: 12px;
  padding-bottom: 7px;
  position: relative;
}

.section-team__cards .card .characteristic-skill:before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #817f7e;
  position: absolute;
  bottom: 0;
  left: 0;
}

.section-team__cards .card .characteristic-first:after {
  content: "";
  width: 85%;
  height: 2px;
  background-color: #ff6e47;
  position: absolute;
  bottom: 0;
  left: 0;
}

.section-team__cards .card .characteristic-second:after {
  content: "";
  width: 76%;
  height: 2px;
  background-color: #ff6e47;
  position: absolute;
  bottom: 0;
  left: 0;
}

.section-team__cards .card .characteristic-third:after {
  content: "";
  width: 79%;
  height: 2px;
  background-color: #ff6e47;
  position: absolute;
  bottom: 0;
  left: 0;
}

.section-feedback__slider-item {
  position: relative;
  width: 536px;
  max-width: 100%;
  text-align: center;
  border: 1px solid #cfcfcf;
  border-radius: 1px;
  padding: 70px 0 38px;
  transition: box-shadow 0.3s, border-color 0.3;
  margin: 0 18px;
}

.section-feedback__slider-item:hover {
  box-shadow: 0px 0px 27px 0px rgba(20, 20, 21, 0.09);
  border-color: transparent;
}

.section-feedback__slider-item .logo {
  position: absolute;
  top: -47px;
  left: calc(50% - 47px);
}

.section-feedback__slider-item .logo img {
  display: block;
  width: 98px;
  height: 98px;
  border: 1px solid #cbcbcb;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-feedback__slider-item .feedback {
  width: 440px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.section-feedback__slider-item .feedback__content {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
  line-height: 27px;
}

.section-feedback__slider-item .feedback__rating {
  color: #ffef3b;
  margin: 25px 0;
}

.section-feedback__slider-item .feedback__author {
  font-family: "Source Sans Pro", sans-serif;
  font-style: italic;
  font-size: 17px;
  text-transform: capitalize;
}

.section-feedback__slider-item .feedback__author .name {
  font-weight: 600;
  font-style: normal;
}

.section-logo__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  background-color: #f7f7f7;
  padding: 45px 0 54px;
}

.footer .contact__btn {
  margin-bottom: 50px;
}

.footer .contact__btn .primary-btn {
  color: #000000;
  background: #fff;
  box-shadow: 0px 6px 14px 0px rgba(20, 20, 21, 0.09);
  border: 1px solid #c7c7c7;
}

.footer__content {
  display: flex;
  align-items: center;
}

.footer__content-socials {
  display: flex;
}

.footer__content-socials .social {
  margin: 0 8px;
}

.footer__content-socials .social a {
  width: 53px;
  height: 53px;
  padding: 16px 20px;
  border-radius: 50%;
  background: #d3d3d3;
  color: #fff;
}

.footer__content-socials .social a:hover {
  background-color: #ff6e47;
}

.footer__content-socials .social .twitter {
  padding: 17px;
}

.footer__content-text {
  margin-left: 17px;
  font-size: 17px;
}

@-webkit-keyframes scale {
  10% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes scale {
  10% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0);
  }
}

@-webkit-keyframes moveToCenterFromTop {
  10% {
    top: -3px;
  }

  100% {
    top: 8px;
  }
}

@keyframes moveToCenterFromTop {
  10% {
    top: -3px;
  }

  100% {
    top: 8px;
  }
}

@-webkit-keyframes moveToCenterFromBottom {
  10% {
    bottom: -3px;
  }

  100% {
    bottom: 8px;
  }
}

@keyframes moveToCenterFromBottom {
  10% {
    bottom: -3px;
  }

  100% {
    bottom: 8px;
  }
}

@-webkit-keyframes rotateTop {
  100% {
    transform: rotate(45deg);
  }
}

@keyframes rotateTop {
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes rotateBottom {
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes rotateBottom {
  100% {
    transform: rotate(-45deg);
  }
}

@media (max-width: 980px) {
  .section-services__content {
    flex-direction: column;
    align-items: center;
  }

  .section-services__content-categories {
    display: flex;
    margin-bottom: 25px;
  }

  .section-services__content-categories .category:not(:last-child) {
    margin-right: 32px;
  }

  .section-services__content-description {
    margin: 0 0 25px;
  }
}

@media (max-width: 910px) {
  .section-team__cards {
    flex-direction: column;
  }

  .section-team__cards .card {
    margin-bottom: 30px;
  }

  .section-team__cards .card:not(:last-child) {
    margin-right: 0;
  }
}

@media (max-width: 879px) {
  .section-workprocess__cards {
    flex-wrap: wrap;
    justify-content: center;
  }

  .section-workprocess__cards .card {
    margin-bottom: 40px;
  }

  .section-workprocess__cards .card:nth-child(2n + 2) {
    margin-right: 0;
  }
}

@media (max-width: 820px) {
  .section-logo {
    padding-top: 0;
  }

  .section-logo__container {
    flex-direction: column;
  }

  .section-logo__container .logo {
    margin-bottom: 20px;
  }
}

@media (max-width: 625px) {
  .photos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 586px) {
  .section-workprocess__cards {
    flex-direction: column;
  }

  .section-workprocess__cards .card:nth-child(n) {
    margin-right: 0;
  }
}

@media (max-width: 570px) {
  .footer__content {
    flex-direction: column;
  }

  .footer__content-socials {
    margin-bottom: 40px;
  }
}

@media (max-width: 425px) {
  .photos {
    grid-template-columns: repeat(1, 1fr);
  }

  .section-services__content-categories .category {
    width: 65px;
  }

  .section-services__content-categories .category:not(:last-child) {
    margin-right: 15px;
  }

  .section-services__content-categories .category-diagram {
    padding: 25px 0 0 16px;
  }

  .section-services__content-categories .category-gears {
    padding: 22px 0 0 12px;
    max-height: 94px;
  }

  .section-services__content-categories .category-search {
    padding: 25px 0 0 11px;
  }
}

@media (max-width: 355px) {
  .section-top__maintext-content-title {
    font-size: 37px;
  }
}
@supports (-webkit-appearance:none){
.section-feedback__slider .slick-arrow.slick-prev{background:url("../img/chevron-left-solid.svg") 0 0 no-repeat}
.section-feedback__slider .slick-arrow.slick-next{background:url("../img/chevron-right-solid.svg") 0 0 no-repeat}
}

 @media (max-width: 980px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 910px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 879px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 820px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 625px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 586px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 570px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 425px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 355px){

@supports (-webkit-appearance:none){

}

}
